html {
    height: 100%;
}

body {
	height: 100%;
}

#root {
    height: 100%;
}

.Main {
    background-color: #a5d6a7;
    height: 100%;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.App-logo {
  height: 150px;
    border:1px solid #81C784;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
	width:150px;
    background-color:white;
}

.main-logo {
    height:65px;
    width:200px;
}

.App-header {
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.errormsg {
	color: red;
	font-weight: 500;
	font-size: 0.8em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
