# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Api/web useless files
Server-Web-Api/node_modules/
Server-Web-Api/yarn-error.log
Server-Web-Api/yarn.lock
Server-Web-Api/package-lock.json

Server-Web-Api/labconsult/package-lock.json
Server-Web-Api/labconsult/yarn-error.log
Server-Web-Api/labconsult/yarn.lock
Server-Web-Api/labconsult/node_modules/
